/* title-text-white # FFFFFF  */
/* title-text-black 303030 */
/* basic-text-black 555555 */
/* basic-text-white 9DA4BD */
/* secondary-text-color rgba(157, 164, 189, 0.6); */
/* accent-color FF6C00 */
/* background-fon F7F7F7 */
/* background-fon-footer 191C26 */

:root {
  --title-text-white: #ffffff;
  --title-text-black: #303030;
  --basic-text-black: #555555;
  --basic-text-white: #9da4bd;
  --secondary-text-color: #rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
  --background-fon: #f7f7f7;
  --background-fon-footer: #191c26;
}
body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; -------на заметку*/
  letter-spacing: 0.02em;
}

/*-------------------УТИЛИТЫ---------- */
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
.container {
  width: 1200px;
  padding: 0 15px;
  outline: 1px solid green;
  margin: 0 auto;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  color: var(--accent-color);
  border: 1px solid inherit;
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.after-title {
  font-size: 18px;
  line-height: 1.67;
}
.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}
.socil-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-text-black);
}
.socil-link:hover,
.socil-link:focus {
  color: var(--accent-color);
}

/* --------------------header---------------- */
.header {
  background-color: #ccc;
  padding: 32px 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 70px;
}
.header-nav {
  display: flex;
}
.header-list {
  display: flex;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-text-white);
}
.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-tel {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-text-white);
}

.btn-first {
  color: var(--title-text-white);
}
/* ----------------------------герой hero -----------*/
.hero {
}
.hero-container {
  display: flex;
}
.hero-left {
  background-color: whitesmoke;
}
.hero-list {
  width: 98px;
}
.hero-right {
  flex-grow: 1;
  padding: 272px 0 206px 91px;
  background-color: var(--basic-text-black);
}
.hero-pre-title {
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}
.hero-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--title-text-white);
}

.hero-after-title {
  color: var(--basic-text-white);
  max-width: 400px;
}

/* --------------about------------------- */
.about {
  padding-top: 139px;
  padding-bottom: 125px;
}
.about-pre-title {
  color: var(--title-text-black);
  margin-bottom: 20px;
}
.about-title {
  color: var(--title-text-black);
  margin-bottom: 20px;
}
.about-after-title {
  color: var(--basic-text-black);
  margin-bottom: 20px;
}
.about-list {
}
.about-item {
}
.about-right {
}

.about-text {
  margin-bottom: 40px;
}
.second-btn {
  color: var(--title-text-black);
}

/* ---------------Услуги и цены prices--------- */
.prices {
  padding: 130px 0;
  background-color: rgb(185, 204, 194);
}
.prices-pre-title {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.prices-title {
  color: var(--title-text-white);
  margin-bottom: 44px;
}
.prices-box {
  padding: 30px 40px;
  margin-bottom: 50px;
}
.prices-list {
}
.prices-item {
  margin-bottom: 20px;
}
.prices-count,
.prices-type {
  font-size: 18px;
  line-height: 1.67;
  color: var(--basic-text-white);
}

/*-------------------- преимущества reasons-------- */
.reasons {
  padding: 130px 0;
}
.reasons-list {
}
.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--title-text-black);
}
.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 12);
  text-align: center;
  color: var(--title-text-black);
}
.reasons-right {
}
.reasons-pre-title {
  margin-bottom: 20px;
  color: var(--title-text-black);
}
.reasons-title {
  margin-bottom: 20px;
  color: var(--title-text-black);
}
.reasons-after {
  color: var(--basic-text-black);
}

/* ----------Наши мастера masters----------- */
.masters {
  padding: 130px 0;
  background-color: var(--background-fon);
}
.masters-pre-title {
  color: var(--title-text-black);
  margin-bottom: 20px;
}
.masters-title {
  color: var(--title-text-black);
  margin-bottom: 44px;
}
.masters-list {
  display: flex;
  margin-left: -30px;
}
.masters-item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
}
.masters-tumb {
  margin-top: 30px;
}

.masters-subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  color: var(--title-text-black);
}
.masters-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  color: var(--accent-color);
}

/* ----------   <!--  gallery-->------ */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-pre-title {
  padding-bottom: 44px;
  color: var(--title-text-black);
}
.gallery-list {
  display: flex;
  margin-left: -30px;
}
.gallery-item {
  flex-basis: calc(100% / 4 -30px);
  margin-left: 30px;
}

/* ---------Онлайн-запись online------- */
.online {
  background-color: tomato;
}
.online-pre-title {
  color: var(--title-text-white);
}

/* ------------контакты contacts----------- */
.contacts {
  padding: 130px 0;
  background-color: tomato;
}
.contacts-pre-title {
  color: var(--title-text-white);
}
.contacts-address {
  font-style: inherit;
}
.contacts-list {
  margin-bottom: 70px;
}
.contacts-item {
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  color: var(--basic-text-white);
}
.contacts-time-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-text-white);
}
.contacts-time {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.67;
  color: var(--basic-text-white);
}
/* ------------footer----------------- */
.footer {
  padding: 57px 0 55px;
  display: flex;
  align-items: center;
}
.footer-copt {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--basic-text-white);
}
.footer-box {
  display: flex;
  align-items: center;
}
.footer-list {
  display: flex;
  margin-left: auto;
}
.footer-item {
}
.footer-lick {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--title-text-black);
}
