/* title-text-white # FFFFFF  */
/* title-text-black 303030 */
/* basic-text-black 555555 */
/* basic-text-white 9DA4BD */
/* secondary-text-color rgba(157, 164, 189, 0.6); */
/* accent-color FF6C00 */
/* background-fon F7F7F7 */
/* background-fon-footer 191C26 */

:root {
  --title-text-white: #ffffff;
  --title-text-black: #303030;
  --basic-text-black: #555555;
  --basic-text-white: #9da4bd;
  --secondary-text-color: rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
  --background-fon: #f7f7f7;
  --background-fon-footer: #191c26;
}
body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; -------на заметку*/
  letter-spacing: 0.02em;
}

/*-------------------УТИЛИТЫ---------- */
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  width: 1200px;
  padding: 0 15px;
  /* outline: 1px solid green; */
  margin: 0 auto;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  color: var(--accent-color);
  border: 1px solid inherit;
}
.pre-title-dark {
  color: var(--title-text-black);
}

.pre-title-light {
  color: var(--secondary-text-color);
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.pre-title::before {
  content: '';
  width: 63px;
  height: 1px;

  margin-right: 21px;
}
.pre-title-light::before {
  background-color: var(--secondary-text-color);
}
.pre-title-dark::before {
  background-color: var(--title-text-black);
}
.after-title {
  font-size: 18px;
  line-height: 1.67;
}
.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}
.socil-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-text-black);
}
.socil-link:hover,
.socil-link:focus {
  color: var(--accent-color);
}
.flex {
  display: flex;
  justify-content: space-between;
}
/* --------------------header---------------- */
.header {
  background-color: #ccc;
  padding: 32px 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 70px;
}
.logo-icon {
  fill: var(--title-text-black);
  width: 66px;
  height: 55px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-text-white);
}
.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-tel {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-text-white);
}

.btn-first {
  color: var(--title-text-white);
}
/* ----------------------------герой hero -----------*/
.hero {
}
.hero-container {
  display: flex;
}
.hero-left {
  background-color: whitesmoke;
  width: 98px;
}
.hero-list {
  display: flex;
  align-items: center;
}
.hero-list::before {
  content: '';
  width: 63px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--title-text-black);
}
.hero-item + .hero-item {
  margin-left: 40px;
}
.hero-right {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../img/sliderimg3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding: 272px 0 206px 91px;
  background-color: var(--background-fon-footer);
}
.hero-pre-title {
  margin-bottom: 20px;
}
.hero-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--title-text-white);
}

.hero-after-title {
  color: var(--basic-text-white);
  max-width: 400px;
}

/* --------------about------------------- */
.about {
  padding-top: 139px;
  padding-bottom: 125px;
}
.about-pre-title {
  margin-bottom: 20px;
}
.about-title {
  color: var(--title-text-black);
  margin-bottom: 20px;
}
.about-after-title {
  color: var(--basic-text-black);
  margin-bottom: 20px;
}
.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-right {
  margin-left: 64px;
}

.about-text {
  margin-bottom: 40px;
}
.second-btn {
  color: var(--title-text-black);
}

/* --------------PRICES-------------- */
.prices {
  background-color: var(--background-fon-footer);
  text-align: center;
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(../img/prises-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.prices-pre-title {
  margin-bottom: 20px;
  text-align: start;
}

.prices-title {
  margin-bottom: 44px;
  color: var(--title-text-white);
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: start;
}

.prices-double-list {
  display: flex;
}

.prices-list {
  width: 585px;
  padding: 30px 40px;
}
.prices-list-left {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list-right {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}
.prices-item::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  background: rgba(157, 164, 189, 0.12);
}

.prices-type {
  font-size: 18px;
  line-height: 1.67;
  color: var(--basic-text-white);
  order: -1;
}
.prices-count {
  font-size: 18px;
  line-height: 1.67;
  color: var(--basic-text-white);
}

.prices-btn {
  color: #ffffff;
  display: inline-block;
  align-items: center;
}

/*-------------------- преимущества reasons-------- */
.reasons {
  padding: 130px 0;
}
.reasons-container {
  display: flex;
}
.reasons-left {
}
.reasons-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}
.reasons-item {
  width: 170px;
  width: 133px;
  padding: 20px 24px;
  text-align: center;
  background-color: var(--background-fon);
}
/* .reasons-item +.reasons-item{
margin-left: 30px;
margin-top: 30px;
} */
.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--title-text-black);
  display: flex;
  justify-content: center;
}
.reasons-count::after {
  content: '+';
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  color: var(--accent-color);
  /* display: flex; */
}
.reasons-item-text {
  margin-top: 6px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 12);
  text-align: center;
  color: var(--title-text-black);
}
/* .reasons-item-dif{
  padding: 20px;
  letter-spacing: 0em;
} */
.reasons-right {
}
.reasons-pre-title {
  margin-bottom: 20px;
}
.reasons-title {
  margin-bottom: 20px;
  color: var(--title-text-black);
}
.reasons-after {
  color: var(--basic-text-black);
}

/* ----------Наши мастера masters----------- */
.masters {
  max-width: 1280px;
  margin: 0px auto;
  padding: 130px 0;
  background-color: var(--background-fon);
}
.masters-pre-title {
  margin-bottom: 20px;
}
.masters-title {
  color: var(--title-text-black);
  margin-bottom: 44px;
}
.masters-list {
  display: flex;
  margin-left: -30px;
}
.masters-item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
}
.masters-tumb {
  margin-top: 30px;
}

.masters-subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  color: var(--title-text-black);
}
.masters-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  color: var(--accent-color);
}
.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}
.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sicial-icon {
  width: 20px;
  height: 20px;
  fill: var(--title-text-black);
}
/* .social-link:hover,
.sicial-link:focus {
  background-color: var(--accent-color);
} */

.social-link:hover .sicial-icon,
.sicial-link:focus .sicial-icon {
  /* background-color: var(--title-text-white); */
  fill: var(--accent-color);
}
/* ----------   <!--  gallery-->------ */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-pre-title {
  padding-bottom: 44px;
}
.gallery-list {
  display: flex;
  margin-left: -30px;
}
.gallery-item {
  flex-basis: calc(100% / 4 -30px);
  margin-left: 30px;
}

/* ---------Онлайн-запись online------- */

/* ------------контакты contacts----------- */
.contacts {
  padding: 130px 0;
  background-color: var(--background-fon-footer);
  background-image: url(../img/Bg-f.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right;
  max-width: 1280px;
  margin: 0 auto;
}
.contacts-container {
  display: flex;

}

.contacts-left {
  display: flex;
  
}

.contacts-right {
 
  }
.contacts-pre-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: var(--title-text-white);
}
.contacts-address {
  font-style: inherit;
}
.contacts-list {
  margin-bottom: 70px;
}
.contacts-item {
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  color: var(--basic-text-white);
}
.contacts-time-title {
  /* font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase; */
  color: var(--title-text-white);
}
.contacts-time {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.67;
  color: var(--basic-text-white);
}
/* ------------footer----------------- */
.footer {
  padding: 57px 0 55px;
  display: flex;
  align-items: center;
}
.footer-copt {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--basic-text-white);
}
.footer-box {
  display: flex;
  align-items: center;
}
.footer-list {
  display: flex;
  margin-left: auto;
}
.footer-item {
}
.footer-lick {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--title-text-black);
}
