/* --------------------header---------------- */
.header {
  position: absolute;
  width: 100%;
  padding: 32px 0;
}
.header-container {
 @extend %align-items;
}
.header-logo {
  margin-right: 70px;
}
.logo-icon {
  fill: var(--title-text-black);
  width: 66px;
  height: 55px;
}
.header-nav {
  @extend %align-items;
}
.header-list {
  display: flex;
}
.header-link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-text-white);
  transition: color 300ms linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

/* .current {
  color: var(--accent-color);
} */
.current {
  color: var(--accent-color);
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: var(--accent-color);
    display: block;
    bottom: -50px;
  }
}

.header-contacts {
 @extend %align-items;
  margin-left: auto;

  padding-right: 10px;
}
.header-tel {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--title-text-white);
}

.btn-first {
  color: var(--title-text-white);
}
