/* -------------backdrop------------------ */
.backdrop {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &.is-hidden .modal {
    transform: scale(2);
  }
}

.modal {
  padding: 40px;
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 300ms ease;
}
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  right: 10px;
  top: 10px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #999;
}

/* form */
.modal-title {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.modal-field {
  margin-bottom: 10px;
}
.input-lable {
  font-size: 14px;
  line-height: 1.3;
  color: #303030;
  display: block;
  margin-bottom: 5px;
}
.input-wrapper {
  display: block;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #999;
  background: transparent;
  padding-left: 40px;
  padding-right: 20px;
  outline: none;

  &:focus {
    border-color: var(--accent-color);
  }
  &:focus + .input-icon {
    fill: var(--accent-color);
  }
}

.input-icon {
  position: absolute;
  left: 10px;
  /* -------почему не по центру?? почему mail -ченрый ???-- */
}

.modal-text-input {
  width: 100%;
  height: 100px;
  border-radius: 3px;
  border: 1px solid #999;
  background: transparent;
  resize: none;
  padding: 10px;
}
.modal-btn {
  display: block;
  margin: 0 auto;
}

.chek-text {
  font-size: 14px;
  line-height: 1.2;
  color: var(--basic-text-black);
  display: flex;
  margin-bottom: 15px;

  span {
    width: 15px;
    height: 15px;
    border: 2px solid #555555;
    border-radius: 3px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.check-icon {
  fill: #ffffff;
}
.modal-checkbox {
  &:checked + .chek-text span {
    background-color: var(--accent-color);
    border: none;
  }
}
