body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; -------на заметку*/
  letter-spacing: 0.02em;
}




.list {
  list-style: none;
}
.link {
  text-decoration: none;
}