:root {
  --title-text-white: #ffffff;
  --title-text-black: #303030;
  --basic-text-black: #555555;
  --basic-text-white: #9da4bd;
  --secondary-text-color: rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
  --background-fon: #f7f7f7;
  --background-fon-footer: #191c26;
}